/* Responsive spacing for the base space-size `md` of a normal character */

@layer base {
  body {
    --clamp-slope-md: calc(
      (var(--mox-spacing-md-max) - var(--mox-spacing-md-min)) /
        (var(--viewport-max-inline-size) - var(--viewport-min-inline-size))
    );
    --clamp-intercept-md: calc(
      var(--mox-spacing-md-min) - var(--viewport-min-inline-size) *
        var(--clamp-slope-md)
    );
    --mox-spacing-md: clamp(
      var(--mox-spacing-md-min),
      calc(var(--clamp-intercept-md) + var(--clamp-slope-md) * 100vw),
      var(--mox-spacing-md-max)
    );
  }
}
