/* textBlock is a special block of text that trims whitespace from the start and end, and adjusts the size/line-height based on the current font-size */

@layer atoms {
  /* body { */
  /** Generated for RijksSans at https://seek-oss.github.io/capsize/ */
  /* --units-per-em: 1000;
    --cap-height: 656;
    --ascent: 899;
    --descent: -279;
    --descent-absolute: calc(-1 * var(--descent));
    --x-height: 489; */

  /** Generated for Fire Sans at https://seek-oss.github.io/capsize/ */
  /* --units-per-em: 1000;
    --cap-height: 689;
    --ascent: 935;
    --descent: -265;
    --descent-absolute: calc(-1 * var(--descent));
    --x-height: 527;

    --ascent-scale: calc(var(--ascent) / var(--units-per-em));
    --cap-height-scale: calc(var(--cap-height) / var(--units-per-em));
    --descent-scale: calc(var(--descent-absolute) / var(--units-per-em));
    --content-area: calc(var(--ascent) + var(--descent-absolute));
    --line-height-scale: calc(var(--content-area) / var(--units-per-em));

    --cap-size: var(--mox-space-md);
    --mox-text-block-font-size: calc(
      var(--units-per-em) / var(--cap-height) * var(--cap-size)
    );
    --cap-line-height: 1.5;
    --mox-text-block-line-height: calc(
      var(--cap-size) * var(--cap-line-height, 2)
    );

    --line-height-trim: calc(
      var(--line-height-scale) / 2 - var(--cap-line-height) *
        var(--cap-height-scale) / 2
    );

    --text-block-trim-before: calc(
      -1 * (var(--ascent-scale) - var(--cap-height-scale) -
            var(--line-height-trim))
    );
    --text-block-trim-after: calc(
      -1 * (var(--descent-scale) - var(--line-height-trim))
    );
  }
 
  .mox-text-block {
    display: block flow-root;
    font-size: var(--cap-size);
    border-block: 1px dotted magenta;
  }
  .mox-text-block:not(input)::before {
    content: "";
    margin-block-end: calc(1em * var(--text-block-trim-before));
    display: flow-root;
  }
  .mox-text-block:not(input)::after {
    content: "";
    margin-block-start: calc(1em * var(--text-block-trim-after));
    display: flow-root;
  } */
  /* } */

  .mox-atom-text-block {
    display: block flow-root;
    margin: 0;
    color: var(--mox-text-color, inherit);
    font-size: var(--current-font-size, var(--mox-space-md));
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    text-decoration: var(--text-decoration, "none");
  }

  .mox-atom-text-block:hover {
    text-decoration: var(--text-decoration-hover, "none");
  }

  @supports not (text-box-trim: both) {
    .mox-text-block:not(input)::before {
      content: "";
      margin-block-end: -0.265em;
      display: flow-root;
    }
    .mox-text-block:not(input)::after {
      content: "";
      margin-block-start: -0.254em;
      display: flow-root;
    }
  }
}
