.mox-atom-input-checkbox {
  appearance: none;
  border: 1px solid var(--mox-form-input-option-border-color);
  border-radius: var(--mox-form-input-checkbox-radius);
  inline-size: var(--mox-form-input-option-size);
  block-size: var(--mox-form-input-option-size);
  cursor: pointer;

  &:checked {
    background-color: var(--mox-form-input-option-checked-color);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    border-color: var(--mox-form-input-option-checked-color);
  }
}
