/* text-input (or password, number, search, etc) */

.mox-text-input {
  width: 100%;
  padding: var(--mox-input-padding-block) var(--mox-input-padding-inline);
  font-size: var(--mox-input-font-size);
  line-height: var(--mox-input-line-height);
  color: var(--mox-input-text-color);
  background-color: var(--mox-input-background-color);
  border: 1px solid var(--mox-input-border-color);
  border-radius: var(--mox-input-border-radius);
  outline: none;
  box-sizing: border-box;

  &:focus {
    border-color: var(--mox-focus-color);
    box-shadow: 0 0 0 2px var(--mox-focus-shadow-color);
  }

  &::placeholder {
    color: var(--mox-input-placeholder-color);
  }

  &:disabled {
    background-color: var(--mox-input-disabled-background-color);
    color: var(--mox-input-disabled-text-color);
    cursor: not-allowed;
  }
}
