.mox-atom-input-radio-button {
  appearance: none;
  border: 1px solid var(--mox-form-input-option-border-color);
  border-radius: 50%;
  inline-size: var(--mox-form-input-option-size);
  block-size: var(--mox-form-input-option-size);
  cursor: pointer;

  &:checked {
    background-color: var(--mox-form-input-option-checked-color);

    background-image: radial-gradient(
      circle,
      var(--mox-form-input-option-checked-color, transparent) 45%,
      white 50%
    );

    border-color: var(--mox-form-input-option-checked-color);
  }
}
