@import './direction.css';
@import './wrap.css';
@import './alignItems.css';
@import './justifyContent.css';
@import './itemSize.css';
@import './gridColumn.css';
@import './gridColumnStart.css';
@import './gridColumnEnd.css';
@import './gap.css';
@import './rowGap.css';
@import './columnGap.css';
@import './underline.css';
@import './underlineHover.css';
@import './fontSize.css';
@import './color.css';
@import './colorHover.css';
@import './fontWeight.css';
@import './lineHeight.css';
@import './borderRadius.css';
@import './borderStartStartRadius.css';
@import './borderStartEndRadius.css';
@import './borderEndStartRadius.css';
@import './borderEndEndRadius.css';
@import './borderWidth.css';
@import './borderColor.css';
@import './borderColorHover.css';
@import './borderColorActive.css';
@import './borderStyle.css';
@import './backgroundColor.css';
@import './backgroundColorHover.css';
@import './backgroundColorActive.css';
@import './size.css';
@import './inlineSize.css';
@import './blockSize.css';
@import './padding.css';
@import './paddingBlock.css';
@import './paddingInline.css';
@import './paddingBlockStart.css';
@import './paddingBlockEnd.css';
@import './paddingInlineStart.css';
@import './paddingInlineEnd.css';
@import './display.css';
@import './markup.css';