@import "../_generated/clampSpaces/index.css";
@import "../_generated/properties/index.css";

/* Fallback font for Rijkssans */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@layer reset, tokens, base, atoms, molecules,
  organisms, templates, pages, overrides;

/* Some reset styles */
@layer reset {
  :root {
    *,
    *::before,
    *::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
  }
}

@layer base {
  .mox-theme-1 {
    font-size: var(--mox-spacing-md);
    font-family: "RijkssansVF", "Rijkssans", "Fira Sans", serif;
  }
}
