/* Each Rijkshuisstijl website should have the same type of focus indication. */
@layer base {
  *:focus-visible {
    outline-style: dashed;
    outline-width: 2px;
    outline-offset: 2px;
    outline-color: var(--mox-focus-background-color, black);
    box-shadow: 0 0 0 4px var(--mox-focus-foreground-color, white);
  }

  @supports not selector(:focus-visible) {
    *:focus {
      outline-style: dashed;
      outline-width: 2px;
      outline-offset: 2px;
      outline-color: var(--mox-focus-background-color, black);
      box-shadow: 0 0 0 4px var(--mox-focus-foreground-color, white);
    }
  }
}
