@import 'clamp-4xs.css';
@import 'clamp-3xs.css';
@import 'clamp-2xs.css';
@import 'clamp-xs.css';
@import 'clamp-sm.css';
@import 'clamp-md.css';
@import 'clamp-lg.css';
@import 'clamp-xl.css';
@import 'clamp-2xl.css';
@import 'clamp-3xl.css';
@import 'clamp-4xl.css';

/** These imports calculate the correct clamp value for fluid scaling for each space-size (md, xs, etc): 
  *
  * slope = (space-max - space-min) / (viewport-max - viewport-min)
  * intercept = min - (viewport-min * slope)
  * clamped-size = clamp(space-min, calc(intercept + slope * 100vw), space-max)
  *
  * See: https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
*/

@layer base {
  body {
    --viewport-min-inline-size: 360px;
    --viewport-max-inline-size: 1440px;
  }
}
